.sub-heading-1{
    font-size: 30px !important;
}

.sub-heading-2{
    font-size: 14px !important;
    color: rgba(138, 133, 133, 0.859);
}

.email-input-1{
    width: 35rem;
    height: 2.2rem;
    border-radius: 3px;
    border: none;
    background-color: rgb(235, 243, 249);
}

.submit-button-1{
    width: 35rem;

}
.SailorShip-image{
    height: 100vh;
    width: 50vw;
}